<header class="top-area">
    <div class="header-area">
        <nav class="navbar navbar-default bootsnav navbar-fixed dark no-background">
            <div class="containerw">
                <div class="navbar-header col-lg-4">
                    <a class="navbar-brand" routerLink="/">Camille PROTHIN</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <img src="img/menu.png">
                    </button>
                </div>
                <div #navbarMenu class="collapse navbar-collapse col-lg-6 menu-ui-design centrer" id="navbar-menu">
                    <ul class="nav navbar-nav d-flex flex-lg-row" data-in="fadeInDown" data-out="fadeOutUp">
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">{{ i18n.t('nav.home') }}</a></li>
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/projets">{{ i18n.t('nav.projects') }}</a></li>
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/photo">{{ i18n.t('nav.photos') }}</a></li>
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/contact">{{ i18n.t('nav.contact') }}</a></li>
                        <li><a target="_blank" href="img/CV_camille_2026.pdf" [appActionHint]="i18n.t('hint.newTab')">{{ i18n.t('nav.cv') }}</a></li>
                        <li class="lang-switch">
                            <button type="button" (click)="i18n.toggle()" [attr.aria-label]="i18n.t('lang.switch')">
                                {{ i18n.t('lang.other') }}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
      <div class="clearfix"></div>
  </header>
