<!--portfolio start -->
<section id="portfolio" class="portfolio">

  <div class="container">
    <div class="portfolio-content">
      <div class="gallery">
        @for (photo of photos; track photo.id) {
          <div class="item">
            <button type="button" class="btn" data-toggle="modal" [attr.data-target]="'#modalPhoto-' + photo.id">
              <img [src]="photo.src" [alt]="photo.title" loading="lazy"/>
            </button>

            <div class="modal fade" [id]="'modalPhoto-' + photo.id" tabindex="-1" role="dialog"
                 [attr.aria-labelledby]="'modalPhotoTitle-' + photo.id" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content modal-center">
                  <div class="modal-header">
                    <h5 class="modal-title text-center" [id]="'modalPhotoTitle-' + photo.id">{{ photo.title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <img [src]="photo.src" [alt]="photo.title" loading="lazy"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>

<!--portfolio end -->

<div class="polaroid-camera">
  <button id="button"></button>
  <div id="circle"></div>
  <div class="lens">
    <div class="reflection"></div>
  </div>
  <div class="flash"></div>
  <div class="stripes"></div>
  <div class="bottom">
    <div class="bottom-front"></div>
  </div>
  <div class="slot"></div>
  <div class="shadow"></div>
  <div id="photo" class="photo">
    <div class="house">
      <div class="windows"></div>
    </div>
    <div class="grey-alien">
      <div class="eye-left"></div>
      <div class="eye-right"></div>
    </div>
    <div class="ufo">
      <div class="outer"></div>
      <div class="inner"></div>
      <div class="lights">
          <div class="light light1"></div>
          <div class="light light2"></div>
          <div class="light light3"></div>
      </div>
  </div>
  </div>
</div>

</section>
