<!--portfolio start -->
<section id="portfolio" class="portfolio">

  <div class="container">
      <div class="portfolio-content">
          <div class="isotope">
              <div class="row">
                <div class="col-sm-4 popup-gallery">
                  <div class="item">
                    <!-- Button trigger modal 1 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto1">
                      <img src="img/galerie/1.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 1 -->
                    <div class="modal fade" id="modalPhoto1" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Ballet de méduses</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/1.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 1 -->
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="item">
                    <!-- Button trigger modal 2 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto2">
                      <img src="img/galerie/2.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 2 -->
                    <div class="modal fade" id="modalPhoto2" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Grande roue</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/2.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 2 -->

                    <!-- Button trigger modal 3 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto3">
                      <img src="img/galerie/3.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 3 -->
                    <div class="modal fade" id="modalPhoto3" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Instant</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/3.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 3 -->
                  </div>
                </div>
                <div class="col-sm-4 popup-gallery">
                    <div class="item">
                      <!-- Button trigger modal 4 -->
                      <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto4">
                        <img src="img/galerie/4.jpg" alt="portfolio image"/>
                      </button>

                      <!-- Modal 4 -->
                      <div class="modal fade" id="modalPhoto4" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                          <div class="modal-content modal-center">
                            <div class="modal-header">
                              <h5 class="modal-title text-center" id="exampleModalLongTitle">Full moon</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <img src="img/galerie/4.jpg" alt="portfolio image"/>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- fin Modal 4 -->
                    </div>
                </div>

                <div class="col-sm-4 popup-gallery">
                  <div class="item">
                    <!-- Button trigger modal 5 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto5">
                      <img src="img/galerie/5.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 5 -->
                    <div class="modal fade" id="modalPhoto5" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Flamboyant</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/5.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 5 -->
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="item">
                     <!-- Button trigger modal 6 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto6">
                      <img src="img/galerie/6.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 6 -->
                    <div class="modal fade" id="modalPhoto6" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Légèreté</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/6.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 6 -->
                  </div>
                </div>
                <div class="col-sm-4 popup-gallery">
                  <div class="item">
                    <!-- Button trigger modal 7 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto7">
                      <img src="img/galerie/7.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 7 -->
                    <div class="modal fade" id="modalPhoto7" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Éphémère</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/7.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 7 -->
                  </div>
                </div>

                <div class="col-sm-4 popup-gallery">
                  <div class="item">
                    <!-- Button trigger modal 8 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto8">
                      <img src="img/galerie/8.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 8 -->
                    <div class="modal fade" id="modalPhoto8" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Ring</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/8.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 8 -->
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="item">
                     <!-- Button trigger modal 9 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto9">
                      <img src="img/galerie/9.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 9 -->
                    <div class="modal fade" id="modalPhoto9" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Loutre pirate</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/9.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 9 -->
                  </div>
                </div>
                <div class="col-sm-4 popup-gallery">
                    <div class="item">
                      <!-- Button trigger modal 10 -->
                      <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto10">
                        <img src="img/galerie/10.jpg" alt="portfolio image"/>
                      </button>

                      <!-- Modal 10 -->
                      <div class="modal fade" id="modalPhoto10" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                          <div class="modal-content modal-center">
                            <div class="modal-header">
                              <h5 class="modal-title text-center" id="exampleModalLongTitle">Réverbère</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <img src="img/galerie/10.jpg" alt="portfolio image"/>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- fin Modal 10 -->
                    </div>
                </div>

                <div class="col-sm-4 popup-gallery">
                  <div class="item">
                    <!-- Button trigger modal 11 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto11">
                      <img src="img/galerie/11.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 11 -->
                    <div class="modal fade" id="modalPhoto11" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Le chemin de la vie</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/11.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 11 -->
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="item">
                    <!-- Button trigger modal 12 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto12">
                      <img src="img/galerie/12.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 12 -->
                    <div class="modal fade" id="modalPhoto12" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Givré</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/12.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 12 -->

                    <!-- Button trigger modal 13 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto13">
                      <img src="img/galerie/13.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 13 -->
                    <div class="modal fade" id="modalPhoto13" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Contraste du coucher de soleil</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/13.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 13 -->
                  </div>
                </div>
                <div class="col-sm-4 popup-gallery">
                    <div class="item">
                      <!-- Button trigger modal 14 -->
                      <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto14">
                        <img src="img/galerie/14.jpg" alt="portfolio image"/>
                      </button>

                      <!-- Modal 14 -->
                      <div class="modal fade" id="modalPhoto14" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                          <div class="modal-content modal-center">
                            <div class="modal-header">
                              <h5 class="modal-title text-center" id="exampleModalLongTitle">Nénuphare</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <img src="img/galerie/14.jpg" alt="portfolio image"/>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- fin Modal 14 -->
                    </div>
                </div>
                
                <div class="col-sm-4 popup-gallery">
                  <div class="item">
                    <!-- Button trigger modal 15 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto15">
                      <img src="img/galerie/15.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 15 -->
                    <div class="modal fade" id="modalPhoto15" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/15.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 15 -->
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="item">
                    <!-- Button trigger modal 16 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto16">
                      <img src="img/galerie/16.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 16 -->
                    <div class="modal fade" id="modalPhoto16" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Diamond</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/16.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 16 -->
                  </div>
                </div>
                <div class="col-sm-4 popup-gallery">
                  <div class="item">
                    <!-- Button trigger modal 17 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto17">
                      <img src="img/galerie/17.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 17 -->
                    <div class="modal fade" id="modalPhoto17" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Fog</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/17.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 17 -->
                  </div>
                </div>

                <div class="col-sm-4 popup-gallery">
                    <div class="item">
                      <!-- Button trigger modal 18 -->
                      <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto18">
                        <img src="img/galerie/18.jpg" alt="portfolio image"/>
                      </button>

                      <!-- Modal 18 -->
                      <div class="modal fade" id="modalPhoto18" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                          <div class="modal-content modal-center">
                            <div class="modal-header">
                              <h5 class="modal-title text-center" id="exampleModalLongTitle">La Grave</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <img src="img/galerie/18.jpg" alt="portfolio image"/>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- fin Modal 18 -->
                    </div>
                </div>
                <div class="col-sm-4">
                  <div class="item">
                    <!-- Button trigger modal 19 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto19">
                      <img src="img/galerie/19.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 19 -->
                    <div class="modal fade" id="modalPhoto19" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Prony</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/19.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 19 -->

                    <!-- Button trigger modal 20 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto20">
                      <img src="img/galerie/20.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 20 -->
                    <div class="modal fade" id="modalPhoto20" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Colors</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/20.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 20 -->
                  </div>
                </div>
                
                <div class="col-sm-4 popup-gallery">
                  <div class="item">
                    <!-- Button trigger modal 21 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto21">
                      <img src="img/galerie/21.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 21 -->
                    <div class="modal fade" id="modalPhoto21" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Pêche</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/21.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 21 -->
                  </div>
                </div>

                <div class="col-sm-4 popup-gallery">
                  <div class="item">
                    <!-- Button trigger modal 22 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto22">
                      <img src="img/galerie/22.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 22 -->
                    <div class="modal fade" id="modalPhoto22" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Loup garou</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/22.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 22 -->
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="item">
                    <!-- Button trigger modal 23 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto23">
                      <img src="img/galerie/23.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 23 -->
                    <div class="modal fade" id="modalPhoto23" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Fleur de bourao</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/23.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 23 -->
                  </div>
                </div>

                <div class="col-sm-4 popup-gallery">
                  <div class="item">
                    <!-- Button trigger modal 24 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto24">
                      <img src="img/galerie/24.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 24 -->
                    <div class="modal fade" id="modalPhoto24" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Un air de vacances</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/24.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 24 -->
                  </div>
                </div>

                <div class="col-sm-4 popup-gallery">
                  <div class="item">
                    <!-- Button trigger modal 25 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto25">
                      <img src="img/galerie/25.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 25 -->
                    <div class="modal fade" id="modalPhoto25" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Lac vert surplombé par le mont Blanc</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/25.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 25 -->
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="item">
                    <!-- Button trigger modal 26 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto26">
                      <img src="img/galerie/26.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 26 -->
                    <div class="modal fade" id="modalPhoto26" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Enfant des bois</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/26.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 26 -->

                    <!-- Button trigger modal 27 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto27">
                      <img src="img/galerie/27.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 27 -->
                    <div class="modal fade" id="modalPhoto27" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Lunetier</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/27.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 27 -->
                  </div>
                </div>
                
                <div class="col-sm-4 popup-gallery">
                  <div class="item">
                    <!-- Button trigger modal 28 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto28">
                      <img src="img/galerie/28.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 28 -->
                    <div class="modal fade" id="modalPhoto28" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Urbain</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/28.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 28 -->
                  </div>
                </div>

                <div class="col-sm-4 popup-gallery">
                  <div class="item">
                    <!-- Button trigger modal 33 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto33">
                      <img src="img/galerie/33.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 33 -->
                    <div class="modal fade" id="modalPhoto33" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Tournesol</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/33.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 33 -->
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="item">
                    <!-- Button trigger modal 34 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto34">
                      <img src="img/galerie/34.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 34 -->
                    <div class="modal fade" id="modalPhoto34" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Printemps</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/34.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 34 -->
                  </div>
                </div>
                <div class="col-sm-4 popup-gallery">
                  <div class="item">
                    <!-- Button trigger modal 35 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto35">
                      <img src="img/galerie/35.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 35 -->
                    <div class="modal fade" id="modalPhoto35" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Vallée</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/35.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 35 -->
                  </div>
                </div>
                
                <div class="col-sm-4 popup-gallery">
                  <div class="item">
                    <!-- Button trigger modal 29 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto29">
                      <img src="img/galerie/29.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 29 -->
                    <div class="modal fade" id="modalPhoto29" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">BCN tennis open 2025 - Nouvelle-calédonie</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/29.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 29 -->
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="item">
                    <!-- Button trigger modal 30 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto30">
                      <img src="img/galerie/30.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 30 -->
                    <div class="modal fade" id="modalPhoto30" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">quiet sunset</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/30.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 30 -->

                    <!-- Button trigger modal 31 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto31">
                      <img src="img/galerie/31.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 31 -->
                    <div class="modal fade" id="modalPhoto31" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Pissenlit</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/31.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 31 -->
                  </div>
                </div>
                
                <div class="col-sm-4 popup-gallery">
                  <div class="item">
                    <!-- Button trigger modal 32 -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalPhoto32">
                      <img src="img/galerie/32.jpg" alt="portfolio image"/>
                    </button>

                    <!-- Modal 32 -->
                    <div class="modal fade" id="modalPhoto32" tabindex="-1" role="dialog" aria-labelledby="modalPhotoTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-center">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Au château</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="img/galerie/32.jpg" alt="portfolio image"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fin Modal 32 -->
                  </div>
                </div>
            </div>
          </div>
      </div>

<!--portfolio end -->

<div class="polaroid-camera">
  <button id="button"></button>
  <div id="circle"></div>
  <div class="lens">
    <div class="reflection"></div>
  </div>
  <div class="flash"></div>
  <div class="stripes"></div>
  <div class="bottom">
    <div class="bottom-front"></div>
  </div>
  <div class="slot"></div>
  <div class="shadow"></div>
  <div id="photo" class="photo">
    <div class="house">
      <div class="windows"></div>
    </div>
    <div class="grey-alien">
      <div class="eye-left"></div>
      <div class="eye-right"></div>
    </div>
    <div class="ufo">
      <div class="outer"></div>
      <div class="inner"></div>
      <div class="lights">
          <div class="light light1"></div>
          <div class="light light2"></div>
          <div class="light light3"></div>
      </div>
  </div>
  </div>
</div>